.App-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #93c5fd;
  height: 100vh;
}
.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 40%;
  border-radius: 10px;
  padding: 20px;
}
.select-items-container {
  display: flex;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-tag {
  color: #000000;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  outline: none;
}
.country {
  color: #000000;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}
.select-container {
  border: #cbd2d9 solid 2px;
  color: #1e293b;
  font-weight: bold;
}
